.card {
  width: 11rem;
  height: 16rem;
  padding: 0.6rem 1rem;
  margin: 1rem 0.5rem 0 0.5rem;
  border-radius: 0.6rem;
  box-shadow: var(--initCardShadow);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
}

.logo {
  width: 8rem;
}

.notActive {
  border: inherit !important;
  box-shadow: var(--initCardShadow) !important;
}

.white:hover {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
}

.white:active {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}