.card {
  width: 11rem;
  height: 16rem;
  padding: 0.6rem 1rem;
  margin: 1rem 0.5rem 0 0.5rem;
  border-radius: 0.6rem;
  box-shadow: var(--initCardShadow);
  word-break: break-word; 

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
}

.logo {
  width: 8rem;
}

.card:hover {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.card:active {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}
.notActive {
  cursor: inherit !important;
  border: inherit !important;
  box-shadow: var(--initCardShadow) !important;
}