.cardDisplayContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.cardsRemaining {
  display: block;
  padding: 0.5rem;
  text-align: center;
  font-weight: lighter;
  font-size: small;
}