.cardDisplayContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.cardsRemaining {
  display: block;
  padding: 0.5rem;
  text-align: center;
  font-weight: lighter;
  font-size: small;
}

.players {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 600px) {
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .players {
    grid-template-columns: repeat(4, 1fr);
  }
}