* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-size: 18px;
  background-color: rgba(252, 245, 255, 0.5);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
