* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-size: 13px;
  background-color: rgb(250, 250, 250);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

:root {
  --initCardShadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  --black: rgb(24, 24, 24);
  --white: white;
  --breakOne: 600px;
}

@media only screen and (min-width: 600px) {
  html, body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1000px) {
  html, body {
    font-size: 16px;
  }
}
