.container {
  max-width: 94rem;
  padding: 0 1rem;
  margin: 1rem auto 3rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 20rem;
  margin-bottom: 2rem;
}

.imageHome {
  width: 35rem;
  max-width: 80vw;
  margin-bottom: 10vh;
}

.footer {
  width: 100vw;
  margin-top: 2rem;
  padding: 0.2rem 2rem 1rem;
  background-color: var(--white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 0.7rem;
}

.footerHome {
  position: fixed;
  bottom: 0;
}

.footBuffer {
  height: 45vh;
}


@media only screen and (min-width: 730px) {
  .container {
    padding: 0 3rem;
  }
  .imageHome {
    margin-bottom: 15vh;
  }
  .footer {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    padding: 0 4rem;
  }
}
