.noMargin {
  margin: 0
}

.noPadding {
  padding: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  display: block;
  margin: 1rem auto;
  padding: 0.2rem 0.6rem;

  border: 2px rgba(60, 60, 60, 0.2) dotted;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);

  font-family: inherit;
  transition: 0.2s;
  outline: none;
}


.white {
  background-color: var(--white);
  color: var(--black);
}

.black {
  background-color: var(--black);
  color: var(--white);
}


.button:hover {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button:active {
  box-shadow: 0 0 0;
}

.buttonDisabled {
  filter: blur(1px);
  box-shadow: 0 0 0 !important;
  cursor: inherit !important;
}