.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.line {
  border: 1px dashed var(--black);
  margin: 3rem -0.3rem 0 -0.3rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.button {
  display: block;
  margin: 1rem auto;
  padding: 0.2rem 0.6rem;

  border: 2px rgba(60, 60, 60, 0.2) dotted;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);

  font-family: inherit;
  transition: 0.2s;
  outline: none;
}

.input {
  display: block;
  margin: 1rem auto;
  padding: 0.2rem 0.6rem;
  border: 2px rgba(60, 60, 60, 0.2) dotted;
  border-radius: 0.3rem;
  font-family: inherit;
}


.white {
  background-color: var(--white);
  color: var(--black);
}

.black {
  background-color: var(--black);
  color: var(--white);
}

.cardsRemaining {
  display: block;
  padding: 0.5rem;
  text-align: center;
  font-weight: lighter;
  font-size: small;
}


.button:hover, .button:focus {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button:active {
  box-shadow: 0 0 0;
}


.buttonDisabled {
  filter: blur(1px);
  box-shadow: 0 0 0 !important;
  cursor: inherit !important;
}

.newRoundButtonSmallScreen {
  display: block;
}
.newRoundButtonLargeScreen {
  margin: 0;
  display: none;
}

.noMargin {
  margin: 0
}

.noPadding {
  padding: 0;
}

.hidden {
  opacity: 0;
}

.smallText {
  font-size: 1.2rem;
}

@media only screen and (min-width: 730px) {
  .buttonContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    column-gap: 2rem;
  }
  .line {
    border: 1px dashed var(--black);
    margin: 3rem -1rem 0 -1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  .newRoundButtonSmallScreen {
    display: none;
  }
  .newRoundButtonLargeScreen {
    display: block;
  }
}

.noDisplay {
  display: none;
}