.radio {
  display: none;
}
.radio:checked+label>div {
  border: 2px dashed var(--black);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}

.hand {
  display: flex;
  align-items: center;
  height: 19.5rem;
  border: 4px inset;
  border-radius: 0.5rem;
  padding: 0 0.8rem;
  overflow: scroll;
}

.label {
  font-size: medium;
  text-align: center;
  text-decoration: underline;
}

.czar {
  text-align: center;
}

