.radio {
  display: none;
}
.radio:checked+label>div {
  border: 3px dashed purple;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}

.fieldset {
  padding: 0 0 0 1rem;
  border: 4px inset;
  border-radius: 0.5rem;
}

.hand {
  max-width: 60rem;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: scroll;
}

