.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.2);
}

.section {
  padding: 3rem 10vw;
    z-index: 3;
    border: 2px rgba(60, 60, 60, 0.2) dotted;
    border-radius: 1rem;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    background-color: var(--white);
    text-align: center;
}
